/* GALLERY */

 
 
  
 
 
 
 
 
 
 /* Fade in animation */
 @keyframes fadeIn {
    to {
      opacity: 1;
    }
 }
  
  .fade-in {
    opacity: 0;
    animation: fadeIn 0.5s ease-in 1 forwards;
 }
 
 .yearbook-link {
    text-align: center;
 }
 
 .yearbook-link h1 {
    margin: 25px 0;
 }
 
 .yearbook-link a {
    margin: 0 auto;
    text-decoration: none;
 }
 
 .yearbook-link img {
    width: 10%;
    display: inline;
    margin: 0 auto;
 }
 
 .yearbook-link img:nth-child(3) {
    width: 65%;
    display: block;
    margin: 25px auto;
    border: 0.3rem solid var(--mainGrey);
    border-radius: 5px;
 }
 
 @media(max-width: 1024px) {
    .gallery-container {
        width: 80%;
    }
    
 }
 
 @media (max-width: 820px) {
    .gallery .gallery-img {
       width: calc(100% / 2);
    }
 
    .gallery-background {
       padding: 25px 0 5px 0;
    }
 
    .yearbook-link img {
       width: 15%;
    }
 }
 
  @media(max-width: 600px) {
    .gallery-background {
       padding: 25px 0 5px 0;
    }
    .gallery .gallery-img {
      width: 100%;
      padding: 4px;
    }
 
    .main-box.show {
       width: 95%;
    }
 
    .yearbook-link img {
       width: 25%;
    }
 }
 
