/* navtop */
.nav-top {
    display: none;
    background: var(--mainWhite);
    border-bottom: 5px solid var(--mainGrey);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 55px 0;
}

.nav-top .logo-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-top .logo-img {
    width: 12%;
    position: absolute;
    top: 1%;
    left: 10%;
    transform: translate(-50%);
}

.nav-top .logo-img img {
    width: 100%;
 }

.nav-top .nav-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 5%;
}
 
.nav-top .nav-icons .nav-icon {
    margin: 0 20px;
    font-size: 1.5rem;
    color: var(--mainGreen);
    text-decoration: none;
}

/* Navbar */ 
.navbar {
    background: var(--mainGreen);
    padding: 25px 0;
}
 
 .nav-container {
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

 .nav-header { 
    display: none;
 }
 
 .nav-toggle {
    display: none; 
 } 
 
 .nav-links {
    display: flex;
    list-style-type: none;
 }

 .nav-links a {
    padding: 0;
    font-size: 1rem;
    margin: 0 1rem;
    text-decoration: none;
    color: #fff;
    transition: all 0.3s linear;
    cursor: pointer;
 }
 
 .nav-links a:hover {
    padding: 0;
    background: transparent;
 }
 
 .nav-links a:focus {
    outline: none !important;
 }
 
 .plus {
   display: inline-block;
   height: 12px;
   width: 12px;
   position: relative;
   margin-left: 5px; 
   pointer-events: none;
 }
 
 .plus:before,
 .plus:after {
   content:'';
   position: absolute;
   box-sizing: border-box;
   left: 50%;
   top:50%;
   background-color: #fff;
   height: 2px;
   width: 100%;
   transform: translate(-50%,-50%);
   transition: all 0.3s ease;
 }
 
 .nav-link:hover > a .plus:before,
 .nav-link:hover > a .plus:after {
   background-color: #40acf1;
 }
 
 .plus:after {
    transform: translate(-50%,-50%) rotate(-90deg);	
 }
 
 .menu-links:hover > a .plus:after {
    transform: translate(-50%,-50%) rotate(0deg);		
 }
 
 .sub-menu > .menu-item > a:hover,
 .nav-link:hover > a {
   color: #40acf1;
 }
 
 .sub-menu {
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-bottom: 3px solid var(--mainGreen);
    border-radius: 5px;
    position: absolute;
    transform: translateY(10px);
    transition: all 0.3s ease;
    opacity: 0;
    visibility: hidden; 
    margin-top: 10px;
    z-index: 5;
 }
 
 .menu-links:hover > .sub-menu {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
 }
 
 .sub-menu > .menu-item {
   display: block;
 }
 
 .sub-menu > .menu-item > a {
   display: block;
   padding: 10px 20px;
   font-size: 1rem;
   font-weight: 600;
   color: #000000;
   transition: all 0.3s ease;
   text-transform: capitalize;
 }

 @media (max-width: 1280px) {
    .logo-info .text-before {
        left: 17%;
    }

    .logo-info .text-after {
        right: 30%;
    }
 }

 @media (max-width: 1024px) {
    .nav-top .logo-img {
        width: 15%;
    }

    .sub-menu {
        right: 3%;
    }

    .nav-top .nav-icons {
        right: 7%;
    }

    .nav-top .nav-icons .nav-icon {
        margin: 0 10px;
    }
 }
    
 @media (max-width: 820px) {
    .nav-top .logo-img {
        width: 20%;
        top: 1%;
        left: 12%;
    }

    .nav-top .nav-icons .nav-icon {
        font-size: 2rem;
    }

    .navbar {
        padding: 35px 0;
    }

    .nav-container {
        display: block;
    }
 
    .nav-header {
        width: 20%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    } 
    
    .nav-toggle {
        position: absolute;
        right: 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 50px;
        height: 50px;
    }
 
    .bar {
        width: 70%;
        height: 4px;
        background: #fff;
        border-radius: 25px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: transform .6s, opacity .8s, top .6s;
    }
    
    .bar-top {
        top: 25%;
    }
    
    .bar-bottom {
        top: 75%;
    }
    
    .cross .bar-top {
        transform: translate(-50%, -50%) rotate(-315deg);
        top: 50%;
    }
    
    .cross .bar-mid {
        opacity: 0;
    }
    
    .cross .bar-bottom {
        transform: translate(-50%, -50%) rotate(-225deg);
        top: 50%;
    }
    
    .nav-links {
        width: 100%;
        flex-direction: column;
        height: 0;
        overflow: hidden;
        transition: all 0.3s linear;
        transform: translateY(35px);
    }

    .nav-links .nav-link:nth-child(4) {
        margin-left: 0;
    }
 
    .nav-links a {
        display: block;
        margin: 10px 15px;
    } 
 
    .show-links {
        height: 16rem;
    }
 
    .extend-navbar {
        height: 27rem;
    }
 
   .plus:before, 
   .plus:after {
      background-color: #ffffff;
   }
 
    .menu-links.active > a .plus:after {
        transform: translate(-50%,-50%) rotate(-90deg);		
    }
    
    .sub-menu {
        width: 90%;
        margin: 10px 20px;
        height: 0;
        overflow: hidden;
        transition: all 0.3s linear;
        border-top: none;
        border-bottom: none;
        border-radius: 5px;
   }
 
    .sub-menu > .menu-item > a {
        padding: 0;
    }
    
    .show-dropdown {
        height: 10rem;
    }
 }
 
 @media (max-width: 600px) {
    .nav-top .logo-img {
        width: 35%;
        top: 2%;
        left: 25%;
    }

    .nav-top .nav-icons .nav-icon {
        font-size: 1.8rem;
    }

    .nav-header {
        width: 40%;
    }

    .sub-menu {
        right: 0;
    }
 }
