body {
  font-family: "Sans-Serif";
  margin: 0;
  background-image: url("../yearbook-img/background.jpg");
}

* {
  box-sizing: border-box;
}

h1 {
   color: #fff;
   text-align: center;
   line-height: 0em;
   margin-top: 1em;
}

h1.two {
   margin: 0em auto 1em auto;
}

h2 {
   color: #002100;
   text-align: center;
   background: #fff;
   margin: 0;
}

img {
  vertical-align: middle;
  width: 100%;
}

.img2 {
   width: 200px;
   margin-left: auto;
   margin-right: auto;
   padding: 0px;
   display: block;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
  max-width: 550px;
  overflow: visible;
  margin: 25px auto;
  border: 3px solid #fff;
}

@media only screen and (max-width: 600px) {
.container {
   width: 85%;
 }
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 28%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #002100;
  padding: 1px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Columns side by side */
.column {
  float: left;
  width: 9.09%;
  border: 1px solid #fff;
}

.yearbooks-link {
  background: #fff;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

.yearbooks-link a {
  text-decoration: none;
  color: #fff;
}

.link-btn {
  background: #002100;
  border: none;
  border-radius: 5px;
  padding: 10px 25px;
}

.link-btn:hover {
  background: #228b22;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}
